@model  Catalogue.Models.ViewModels.CreateProductWithCategoryView

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@using (Html.BeginForm("Create", "Administrator", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(t => t.Title, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(t => t.Title, new { @class = "form-control" })
        </div>
    </div>

    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(c => c.Content, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(c => c.Content, new { @class = "form-control" })
        </div>
    </div>

    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(p => p.Price, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(p => p.Price, new { @class = "form-control" })
        </div>
    </div>

    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(c => c.Category, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(c => c.Category, new { @class = "form-control" })
        </div>
    </div>

    <div>
        @foreach (var item in Model.Categories)
        {
            <div class="checkbox">
                <label>
                    <input type="checkbox"
                           name="SelectedCategories"
                           value="@item.Value" /> @item.Text
                    </label>
                </div>
            }
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <span class="btn btn-danger"> @Html.ActionLink("Cancel", "GetAllProduct", "Administrator")</span>
            <input type="submit" class="btn btn-default" value="create" />
        </div>
    </div>

}



