@model  Catalogue.Models.ViewModels.ProductView
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Administrator", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(t => t.Title, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(t => t.Title, new { @class = "form-control" })
        </div>
    </div>

    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(c => c.Content, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(c => c.Content, new { @class = "form-control" })
        </div>
    </div>

    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(p => p.Price, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(p => p.Price, new { @class = "form-control" })
        </div>
    </div>

    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(c => c.Category, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(c => c.Category, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">

    
    </div>

    <div class="form-group">
    <div class="col-md-8">
        @Html.ActionLink("Cancel", "GetAllProduct", "Administrator")
        <input type="submit" class="btn btn-default" value="Edit" />
        </div>
    </div>
}