@model  IEnumerable< Catalogue.Models.EntityModels.Product>
@using PagedList.Mvc
@{
    ViewBag.Title = "Admin Product";
}

<h2>All Product Admin</h2>
@if (User.IsInRole("Admin"))
{
    <a class="btn btn-default" @Html.ActionLink("Create", "Create", "Administrator")> </a>
}
<table class="table table-bordered table-hover">

    <thead>
        <tr>
            <th> Title </th>
            <th> Content </th>
            <th> Price </th>
            <th> Category </th>
            <th>Administrator</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var page in Model)
        {
           
                <tr>
                    <th>@page.Title</th>
                    <th>@page.Content</th>
                    <th>@page.Price</th>
                    <th>@page.Category</th>
                    <th>
                        <span>@Html.ActionLink("Edit", "Edit", new { page.Id })</span> <br />
                        <span> @Html.ActionLink("Delete", "Delete", new { page.Id })</span>
                    </th>
                </tr>
            

        }
    </tbody>

</table>
