@model IEnumerable<Catalogue.Models.EntityModels.Product>

@{
    ViewBag.Title = "Admin Product";
}

<h2>All Product Admin</h2>
@if (User.IsInRole("Admin"))
{
    <a class="btn btn-default" @Html.ActionLink("Create", "Create", "Administrator")> </a>
}
<table class="table table-bordered table-hover">

    <thead>
        <tr>
            <th> Title </th>
            <th> Content </th>
            <th> Price </th>
            <th> Category </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.Title</th>
                <th>@item.Content</th>
                <th>@item.Price</th>
                <th>@item.Category</th>
            </tr>
        }
    </tbody>

</table>