
@using Catalogue.Models.ViewModels

@model  IEnumerable<ProductWithCategories>

@{
    ViewBag.Title = "Product";
}

<h2>Product</h2>

<div class="form-group">
    <div class="col-md-10">
      @using (Html.BeginForm("SearchByCategories", "Catalogue", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <select id="Categories" name="Categories">
                @foreach (var item in Model)
                {
                    foreach (var select in item.SelectCategories)
                    {
                        <option value="@select.Value"> @select.Text</option>
                    }
             }

            </select>
            <input type="submit" value="Search" />

        }
    </div>
</div>
<hr />
<br />
<table class="table table-bordered table-hover">

    <thead>
        <tr>
            <th> Title </th>
            <th> Content </th>
            <th> Price </th>
            <th> Category </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pruduct in Model)
        {
            <tr>
                <th>@pruduct.Title</th>
                <th>@pruduct.Content</th>
                <th>@pruduct.Price</th>

                <th>
                    @foreach (var category in pruduct.Categories)
                    {
                        <ul>
                            <li>
                                @category
                            </li>
                        </ul>
                    }
                    {

                    }
                </th>
            </tr>
        }
    </tbody>

</table>
