@model  IEnumerable<Catalogue.Models.ViewModels.ProductView>
@{
   ViewBag.Title = "SearchByCategories";
}

<h2>SearchByCategories</h2>

<table class="table table-bordered table-hover">

    <thead>
        <tr>
            <th> Title </th>
            <th> Content </th>
            <th> Price </th>
            <th> Category </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pruduct in Model)
        {
            <tr>
                <th>@pruduct.Title</th>
                <th>@pruduct.Content</th>
                <th>@pruduct.Price</th>
                <th>@pruduct.Category</th>



            </tr>
        }
    </tbody>

</table>

<span class="btn btn-default"> @Html.ActionLink("Home", "Index", "Home")</span>